extends ../base/layout

block variables
  - const title = "Yury Shapovalov - Frontend developer"
  - const description = "Frontend developer"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "index"

block main
  main
    include ../blocks/promo
    include ../blocks/advantages
    //- include ../blocks/about
    //- include ../blocks/last-works
    //- include ../blocks/career
    //- include ../blocks/technologies

