.about {

  &__wrapper {
    position: relative;
    display: flex;
    margin-top: size(40px);
    padding: size(32px);
    background-color: $color-dark-100;
    background-color: var(--color-card);
    border-radius: $border-radius;

    @include vp--1023 {
      padding: size(24px);
      margin-top: size(32px);

    }

    @include vp--767 {
      margin-top: size(24px);
      flex-direction: column;
      padding: size(16px);
    }
  }

  &__block {
    @include vp--767 {
      display: flex;
      align-items: flex-end;
    }
  }

  &__points {
    position: absolute;
    bottom: size(-30px);
    left: size(-40px);
    width: size(145px);
    height: auto;
    z-index: 1;

    @include vp--1023 {
      width: size(120px);
      bottom: size(-20px);
      left: size(-20px);
    }

    @include vp--767 {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      width: size(150px);
      margin-left: -56px;
      margin-bottom: -32px;
    }
  }

  &__photo-block {
    position: relative;
    margin-right: size(68px);
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include vp--1023 {
      width: size(240px);
      margin-right: size(32px);
    }

    @include vp--767 {
      width: auto;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp--767 {
      margin-top: size(48px);
    }

    & h3 {
      margin: 0;
      font-size: size(24px);
      line-height: 1.4;

      @include vp--767 {
        font-size: size(26px);
        line-height: 1.4;
      }
    }

    ul {
      @include reset-list;
      margin-top: size(24px);
      margin-bottom: auto;

      @include vp--767 {
        margin-top: size(16px);
      }
    }

    li {
      position: relative;
      padding-left: size(32px);

      &:not(:first-child) {
        margin-top: size(8px);
      }

      @include vp--767 {
        &:not(:first-child) {
          margin-top: size(4px);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: size(1px);
        width: size(24px);
        height: size(24px);
        background-image: url("../img/svg/check.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &__link {
    margin-top: size(24px);

    @include vp--767 {
      width: 100%;
      justify-content: center;
      margin-top: size(40px);
    }
  }

  &__illustration {
    position: absolute;
    right: size(32px);
    bottom: size(32px);
    color: $color-dark-700;
    color: var(--text-color);
    & svg {
      max-width: 100%;
      height: auto;
    }

    @include vp--1023 {
      display: none;
      right: size(8px);
      bottom: size(8px);
      width: size(160px);
    }
  }
}
