.advantages {
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: size(30px);

    @include vp--1023 {
     grid-template-columns: repeat(2, 1fr);
    }

    @include vp--767 {
     grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    display: grid;
    grid-template-columns: size(80px) 1fr;

    & img {
      display: block;
    }

    @include vp--767 {
      grid-template-columns: size(70px) 1fr;
    }
  }

  &__img-block {
    width: 100%;
  }

  &__text {
    margin-left: size(24px);

    & p {
      margin: size(12px) 0 0;
      font-size: 16px;
      line-height: 1.5;
      color: $color-dark-400;
      color: var(--text-color-gray);

      @include vp--767 {
        margin: size(8px) 0 0;
      }
    }
  }
}
