.advantages {
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: size(30px);
  }

  &__item {
    display: flex;
    align-items: flex-start;

    & img {
      display: block;
    }
  }

  &__text {
    margin-left: size(24px);

    & p {
      margin: size(12px) 0 0;
      font-size: 16px;
      line-height: 1.5;
      color: $color-dark-400;
      color: var(--text-color-gray);
    }
  }
}
