.custom-select {
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;
    display: none;
    transform: translateY(-50%);
    transition: transform $trans--300, opacity $trans--300;
    pointer-events: none;
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__button {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-height: 42px;
    padding: 0 8px 0 16px;
    background-color: transparent;
    border: 1px solid $color-dark-700;
    border: 1px solid var(--text-color);
    color: $color-dark-700;
    color: var(--text-color);
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;

    outline: none;
    cursor: pointer;
    transition: border .2s, color .2s;
    text-align: left;
    overflow: hidden;

    &:hover {
      border-color: $color-primary-500;
      color: $color-primary-500;
    }

    @include vp--767 {
      font-weight: 400;
    }
  }

  &__list {
    @include reset-list;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: none;
    min-width: 100%;
    width: auto;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid transparent;
    border: 1px solid var(--border-transparent);
    background-color: $color-white;
    background-color: var(--bg-color);
    transform: translateY(108%);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 8px 24px rgba(67, 112, 88, .3);

    transition: visibility .3s, opacity .3s;
  }

  &__item {
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    transition: background-color .2s, color .2s;
    white-space: nowrap;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &[aria-selected="true"] {
      background-color: $color-primary-500;
      color: $color-white;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: $color-primary-500;
          color: $color-white;
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-primary-500;
        color: $color-white;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s ease;
    display: none;
  }

  &__text {
    overflow: hidden;
    max-width: 100%;
    text-align: left;
    white-space: nowrap;
    display: block;
    opacity: 0;
    width: 100%;
    margin-right: 4px;

    transition: opacity $trans--300 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 1;
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 0px 5px rgba(255, 255, 255, 1);

    & svg {
      transition: transform .2s;
    }
  }

  &--open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(32px - 100%));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    .custom-select__icon svg {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__button--no-bd {
      color: $color-primary-500;
    }
  }

  &.is-open.custom-select--slide-up {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }
  }

//   &.is-invalid {
//     .custom-select__error {
//       opacity: 1;
//     }

//     .custom-select__button {
//       border: 2px solid $color-pink;

//       &:focus,
//       &:hover {
//         border: 2px solid rgba($color-pink, 0.5);
//       }
//     }
//   }

//   &.is-valid {
//     .custom-select__button {
//       border: 2px solid $color-blue;

//       &:focus,
//       &:hover {
//         border: 2px solid rgba($color-blue, 0.5);
//       }
//     }
//   }

  &--slide-up {
    &.not-empty {
      .custom-select__label {
        transform: translateY(calc(-50% - 40px));
        opacity: 1;
      }

      .custom-select__text {
        opacity: 1;
      }
    }
  }
}
