.footer {
  background-color: $color-gray;
  background-color: var(--gray-color);
  border-top: size(1px) solid $color-gray;
  border-top: size(1px) solid var(--border-gray);

  &__container {
    padding-top: size(40px);
    padding-bottom: size(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
