.footer {
  margin-top: size(80px);
  background-color: $color-primary-50;
  background-color: var(--bg-color-footer);
  border-top: size(2px) solid $color-dark-700;
  border-top: size(2px) solid var(--color-border-blue);

  &__container {
    padding-top: size(40px);
    padding-bottom: size(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    color: $color-dark-600;
    color: var(--text-color-gray-light);
  }
}
