.last-works {
  text-align: center;

  &__title {
    text-align: left;
  }

  &__nav {
    margin-top: size(32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    @include vp--767 {
      margin-top: size(16px);
    }

    @include vp--767 {
      margin-top: size(16px);
    }
  }

  &__card-view {
    display: flex;
    align-items: center;

    @include vp--767 {
      display: none;
    }
  }

  &__control {
    padding: size(6px);
    color: $color-dark-400;
    color: var(--text-color-gray-light);

    &:not(:first-child) {
      margin-left: size(8px);
    }

    &.active {
      opacity: 1;
      color: $color-primary-500;
      background-color: $color-dark-700;
      background-color: var(--color-card);
      border-radius: size(8px);
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $color-primary-500;
      }
    }
  }

  &__link {
    display: none;
    margin: size(60px) auto 0;

    @include vp--767 {
      margin: size(40px) auto 0;
    }
  }
}




.cards-work {
  @include reset-list;
  margin-top: size(32px);

  @include vp--1023 {
    margin-top: size(24px);
  }

  &__item {
    text-align: left;
    min-height: size(400px);
    display: flex;
    justify-content: space-between;
    border-radius: $border-radius;

    &.hide {
      display: none;
    }

    &.hide-filter {
      display: none;
    }

    &:not(:first-child) {
      margin-top: size(32px);
    }

    @include vp--1279 {
      min-height: size(320px);
    }

    @include vp--1023 {
      flex-direction: column;
    }

    @include vp--767 {
      padding: 0;
      box-shadow: $bs-card-portfolio;
      overflow: hidden;
      align-items: center;
    }

    &--rooblee {background-color: $rooblee;}
    &--ostrovfortov {background-color: $ostrovfortov;}
    &--trikotazh {background-color: $trikotazh;}
    &--retailrocket {background-color: $retailrocket;}
    &--online-tv {background-color: $online-tv;}
    &--escape-room {background-color: $escape-room;}
    &--israel {background-color: $israel;}
    &--cat-energy {background-color: $cat-energy;}
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: size(32px) 0 size(32px) size(32px);
    max-width: size(454px);

    @include vp--1023 {
      padding: size(24px);
      order: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      max-width: 100%;
      justify-content: space-between;
    }

    @include vp--767 {
      flex-direction: column;
      padding: 0;
      border-radius: $border-radius $border-radius 0 0;
      width: 100%;
      padding: size(16px);
      flex-grow: 1;
      background-color: $color-white;
      background-color: var(--color-card-protfolio);
    }
  }

  &__descr {
    margin: size(16px) 0 0;
    max-width: size(340px);
    color: $color-dark-600;
    color: var(--text-color-gray-light);

    @include vp--767 {
      margin-top: size(24px);
    }
  }

  &__btn-block {
    margin-top: auto;

    @include vp--1279 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include vp--1023 {
      align-items: flex-end;
    }

    @include vp--767 {
      width: 100%;
      margin-top: size(24px);
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: size(16px);

      @include vp--1279 {
        order: 1;
        margin-right: 0;
        margin-top: size(16px);
      }

      @include vp--767 {
        margin-top: size(12px);
      }
    }

    @include vp--767 {
      width: 100%;
      justify-content: center;
    }
  }

  &__container-img {
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__img-block {
    max-width: size(700px);

    &--tile {
      display: none;
    }

    @include vp--1279 {
      max-width: size(680px);
    }

    & img {
      width: 100%;
    }

    @include vp--1023 {
      width: 100%;
      max-width: 100%;
    }

    @include vp--767 {
      overflow: hidden;
      box-shadow: $bs-card;
      border-radius: size($border-radius) size($border-radius) 0 0;
      margin: size(32px) size(24px) 0;
      height: 250px;
      max-width: 340px;
      width: calc(100% - 48px);
    }
  }
}

.tile.cards-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: size(40px) size(30px);

  @include vp--1023 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tile .cards-work {
  &__item {
    margin-top: 0;
    flex-direction: column;
    box-shadow: $bs-card-portfolio;
    overflow: hidden;
  }

  &__container {
    order: 1;
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    padding: size(24px);
    flex-grow: 1;
    background-color: $color-white;
    background-color: var(--color-card-protfolio);

    @include vp--1023 {
      flex-direction: column;
    }
  }

  &__img-block {
    margin: size(48px) size(32px) 0;
    height: 300px;
    overflow: hidden;
    box-shadow: $bs-card;
    border-radius: size($border-radius) size($border-radius) 0 0;

    &--compact {
      display: none;
    }

    &--tile {
      display: block;
    }

    @include vp--1023 {
      width: auto;
    }
  }

  &__container-img {
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__title {
    font-size: size(36px);
    line-height: 1.2;

    @include vp--767 {
      font-size: size(28px);
    }
  }

  &__info {
    margin-bottom: auto;
  }

  &__btn-block {
    margin-top: size(24px);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    width: 100%;
    justify-content: center;
    order: 1;
    margin-right: 0;


    &:not(:first-child) {
      order: 0;
      margin-bottom: size(12px);

      color: $color-dark-700;
      color: var(--text-color);
      background-color: rgba($color-primary-200, .3);

      @media (min-width: 1024px) {
        &:hover {
          color: $color-dark-50;
          background-color: $color-primary-500;
        }
      }
    }

    @include vp--1279 {
      &:not(:last-child) {
        margin-top: 0;
      }
    }
  }
}

.dark .cards-work__item {
  &--rooblee,
  &--ostrovfortov,
  &--trikotazh,
  &--retailrocket,
  &--online-tv,
  &--escape-room,
  &--israel,
  &--cat-energy {
    background-color: $color-dark-800;
  }
}

