.main-nav {
  display: flex;
  align-items: center;

  &__list {
    @include reset-list;
    display: flex;
    margin-right: size(120px);
  }

  &__item {
    &:not(:last-child) {
      margin-right: size(24px);
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: size(4px) size(0px);
    font-size: size(20px);
    line-height: 1.5;
    transition: color .2s;

    @media (min-width: 1024px) {
      &:hover {
        color: $color-primary;
        color: var(--primary-color);
      }
    }
  }
}
