.promo {
  height: calc(100vh - 80px);
  min-height: 650px;
  max-height: 900px;

  @include vp--1279 {
    min-height: 640px;
    max-height: 700px;
  }

  @include vp--767 {
    min-height: auto;
    max-height: 100%;
    height: auto;
  }

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 200px;

    @include vp--1023 {
      justify-content: flex-start;
      padding-top: size(60px);
      padding-bottom: size(60px);
    }

    @include vp--767 {
      padding-top: size(60px);
      padding-bottom: size(60px);
    }
  }

  &__img-block {
    position: absolute;
    right: 0;
    bottom: size(100px);
    width: size(770px);
    height: auto;

    & svg {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include vp--1279 {
      width: size(650px);
    }

    @include vp--1023 {
      bottom: size(60px);
    }

    @include vp--767 {
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: 32px;
    }
  }

  &__text {
    & span {
      color: $color-primary-500;
    }
  }

  &__title {
    margin-bottom: size(8px);

    @include vp--767 {
      margin-bottom: 0;
    }
  }

  &__button {
    margin: size(32px) 0 0;
  }

  &__animate {
    &--circle {
      fill: #CCCCCC;
    }

    &--path  {
      opacity: 0;
    }
  }
}





.dark .promo__animate {
  &--circle,
  &--path {
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: .15s;
  }

  &--circle {
    fill: $a-color-gray;
    animation-name: animate-lamp;
  }

  &--path  {
    opacity: 0;
    animation-name: animate-lamp-line;
  }
}

@keyframes animate-lamp-line {
  0%,
  20%,
  40%,
  100% {
    opacity: 1;
  }

  10%,
  30%,
  80% {
    opacity: 0;
  }
}
@keyframes animate-lamp {
  0%,
  20%,
  40%,
  100% {
    fill: $a-color-yellow;
  }

  10%,
  30%,
  80% {
    fill: $a-color-gray;
  }
}
