.protfolio-cards {
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__controll {
    &:not(:last-child) {
      margin-right: size(12px);
    }

    &.active {
      color: $color-dark-50;
      background-color: $color-primary-500;

      @media (min-width: 1024px) {
        &:hover {
          background-color: $color-primary-600;
        }
      }
    }
  }
}
