.button {
  @include reset-btn;
  padding: size(12px) size(28px);
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius;
  transition: color .2s, background-color .2s, box-shadow .2s;

  & span + svg {
    margin-left: 8px;
  }

  & svg + span {
    margin-left: 8px;
  }

  &--primary {
    color: $color-dark-50;
    background-color: $color-primary-500;

    @media (min-width: 1024px) {
      &:hover {
        background-color: $color-primary-600;
      }
    }

    // &:focus {
    //   box-shadow: $bs-btn;
    // }
  }

  &--transparent {
    padding: 0;

    @media (min-width: 1024px) {
      &:hover {
        color: $color-primary-500;
      }
    }
  }

  &--primary-100 {
    color: $color-primary-500;
    color: var(--color-primary-500);
    background-color: $color-primary-100;
    background-color: var(--color-border-blue);

    @media (min-width: 1024px) {
      &:hover {
        color: $color-dark-50;
        background-color: $color-primary-500;
      }
    }
  }

  &--opacity {
    color: $color-primary-500;
    color: var(--color-primary-500);

    @include vp--1023 {
      background-color: rgba($color-primary-300, .4);
      color: $color-primary-500;
      color: var(--color-primary-500);
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $color-dark-50;
        background-color: $color-primary-500;
      }
    }
  }

  &--no-bg {
    color: $color-dark-700;
    color: var(--text-color);
    background-color: rgba($color-primary-200, .3);
  }
}
