.title {
  margin: 0;
  font-family: $font-main;
  line-height: 1.3;
  color: $color-dark-700;
  color: var(--text-color);
  font-weight: 700;

  &--h1 {
    font-size: size(64px);
    line-height: 1.2;

    @include vp--1279 {
      font-size: size(58px);
    }

    @include vp--1023 {
      font-size: size(48px);
    }

    @include vp--767 {
      font-size: size(34px);
      line-height: 1.3;
    }
  }

  &--h2 {
    font-weight: 600;
    font-size: size(54px);

    @include vp--1279 {
      font-size: size(42px);
    }

    @include vp--767 {
      font-size: size(34px);
    }
  }

  &--h3 {
    font-weight: 600;
    font-size: size(42px);

    @include vp--1279 {
      font-size: size(38px);
    }

    @include vp--1023 {
      font-size: size(32px);

    }

    @include vp--767 {
      font-size: size(26px);
    }
  }

  &--h4 {
    font-weight: 600;
    font-size: size(36px);
    line-height: 1.2;

    @include vp--767 {
      font-size: size(28px);
    }
  }

  &--h5 {
    font-weight: 600;
    font-size: size(28px);
    line-height: 1.4;

    @include vp--767 {
      font-size: size(24px);
    }

    @include vp--767 {
      font-size: size(18px);
    }
  }

  &--h6 {
    font-weight: 600;
    font-size: size(24px);
    line-height: 1.4;

    @include vp--767 {
      font-size: size(20px);
    }
  }
}
