mixin header(headerMods, currentPage)
  -
    var headerLinks = [
      {svgName: "icon-user", href: "#about", text: "Обо мне"},
      {svgName: "icon-layout-panel", href: "#last-works", text: "Проекты"},
      {svgName: "icon-chart", href: "#career", text: "Опыт"},
      {svgName: "icon-terminal", href: "#technologies", text: "Технологии"},
    ]

  header.header(class=headerMods)
    .header__container.container
      if(currentPage === "index")
        a.header__logo
          +icon("icon-logo", 48, 48)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("icon-logo", 48, 48)
      nav.main-nav(data-toggle-menu="navigation")
        ul.main-nav__list
          each link, index in headerLinks
            li.main-nav__item
              a.main-nav__link(href=link.href, data-toggle-menu="link")
                if (link.svgName)
                  +icon(link.svgName, 24, 24)
                span=link.text

      .header__toggle.theme-switcher
        input(type="checkbox", aria-label="смена темы", name="color-theme", id="color-theme", class="visually-hidden")
        label(for="color-theme").theme-switcher__toggle
          +icon('icon-sun', 24, 24)
          +icon('icon-moon', 24, 24)

      button(type="button", data-toggle-menu="button").header__btn-menu
        span
        span


