// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default


$color-white:                     #ffffff;
$color-dark-50:                   #F8FAFC;
$color-dark-100:                  #F3F4F6; //  border - light
$color-dark-200:                  #E5E7EB; //  border - light
$color-dark-300:                  #D1D5DB;
$color-dark-400:                  #9CA3AF; //  socil color - dark
$color-dark-500:                  #6B7280; //  text-gray - dark
$color-dark-600:                  #4B5563; //  text-gray - light
$color-dark-700:                  #374151; //  text-gray - light
$color-dark-800:                  #1F2937; //  border - dark
$color-dark-900:                  #111827; // 900 bg main - dark, text color - light
$color-transparent:               rgba(255, 255, 255, 0);

// Base
$color-primary-50:                 #EFF6FF; // bg text - light
$color-primary-100:                #E0E7FF;
$color-primary-200:                #C7D2FE;
$color-primary-300:                #A5B4FC;
$color-primary-400:                #818CF8;
$color-primary-500:                #6366F1; // 500 основной цвет
$color-primary-600:                #4F46E5; // hover-btn

// Animation
$a-color-gray:                     #cccccc;
$a-color-yellow:                   #F9F0A3;

// Gradient

$black-to-right:                   linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);


// Works

$rooblee:                         #E8F9F0;
$ostrovfortov:                    #D8E7FC;
$trikotazh:                       #FFF4F4;
$retailrocket:                    #DEF1F8;
$symbl:                           #f2f5fa;
$osome2some:                      #F3EEEB;
$next-pizza:                      #FEFBF5;
$psbank:                          #f8f8fc;
$psbank-private:                  #d9e8fc;

$online-tv:                       #C5C5C5;
$escape-room:                     #DDDDDD;
$israel:                          #FFF5DD;
$cat-energy:                      #E3F9D5;

// Social

$tg:                              #0088CC;
$fb:                              #3B5998;
$inst:                              radial-gradient(100.81% 100.81% at 29.06% 99.75%, #FFD776 0%, #F3A554 24.63%, #F15C3C 37.93%, #D94867 60.7%, #C32F87 83.46%, #7D63A7 95.77%, #5C6CB3 100%);
$vk:                              #45668E;
$github:                          #24292E;


// root

:root {
  --text-color: #{$color-dark-700};
  --text-color-gray: #{$color-dark-400};
  --text-color-gray-light: #{$color-dark-600};

  --bg-color: #{$color-white};
  --bg-primary-50: #{$color-primary-50};

  --bg-color-footer: #{$color-dark-100};
  --color-card: #{$color-dark-100};
  --color-card-hover: #{$color-primary-200};
  --color-border: #{$color-dark-200};
  --color-border-blue: #{$color-primary-100};

  --color-gray-card: #{$color-dark-700};
  --color-card-portfolio: #{$color-white};

  --color-primary-500: #{$color-primary-500};
  --color-primary-200: #{$color-primary-200};

  --border-transparent: #{transparent};
}

html[data-theme="dark"] {
  --text-color: #{$color-dark-100};
  --text-color-gray: #{$color-dark-400};
  --text-color-gray-light: #{$color-dark-200};

  --color-card: #{$color-dark-800};
  --bg-primary-50: #{$color-dark-800};

  --bg-color-footer: #{$color-dark-800};
  --color-card-hover: #{$color-dark-50};
  --bg-color: #{$color-dark-900};
  --color-border: #{$color-dark-200};
  --color-border-blue: #{$color-dark-700};

  --color-gray-card: #{$color-dark-500};
  --color-card-portfolio: #{$color-dark-700};

  --color-primary-500: #{$color-dark-50};
  --color-primary-200: #{$color-dark-500};

  --border-transparent: #{$color-dark-500};
}





// Typography
//---------------------------------

$font-main:                          "Inter", "Arial", sans-serif;
$font-size-main:                     16px;

// https://www.artlebedev.ru/kovodstvo/sections/159/
$font-family--rouble:               "Rouble", "Arial", sans-serif;


// Box shadow
//---------------------------------
$bs-btn:                            0px 0px 0px 3px rgba($color-primary-500, 0.25);
$bs-card:                           0 12px 24px rgba($color-dark-700, 0.3);
$bs-card-portfolio:                 0px 0px 14px 3px rgba($color-dark-700, 0.1);
// Size Element
//---------------------------------
$border-radius:                     12px;


// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;


