// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-black:                     #4A4B65;
$color-black-70:                  #9e9fb4;
$color-dark:                      #37384e;
$color-gray:                      #F7F7FC;
$color-white:                     #ffffff;
$color-white-70:                  #BFC0C7;
$color-white-light:               #F9FAFB;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-primary:                    #766DF4;
$color-primary-hover:              #5549F1;
$color-primary-8:                  #F4F3FE;
$color-primary-30:                 rgba($color-primary, .3);
$color-primary-50:                 rgba($color-primary, .5);

// Animation
$a-color-gray:                     #cccccc;
$a-color-yellow:                   #F9F0A3;

// Gradient

$black-to-right:                   linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);


// Works

$rooblee:                         #E8F9F0;
$ostrovfortov:                    #D8E7FC;
$trikotazh:                       #FFF5F4;
$retailrocket:                    #DEF1F8;

// Typography
//---------------------------------

$font-main:                          "Lato", "Arial", sans-serif;
$font-size-main:                     16px;

// https://www.artlebedev.ru/kovodstvo/sections/159/
$font-family--rouble:               "Rouble", "Arial", sans-serif;


// Box shadow
//---------------------------------
$bs-btn:                            0px 0px 0px 3px rgba($color-primary, 0.25);

// Size Element
//---------------------------------
$border-radius:                     12px;


// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

:root {
  --text-color: #{$color-black};
  --text-color-70: #{$color-black-70};
  --white-color: #{$color-white};
  --gray-color: #{$color-gray};
  --bg-color: #{$color-white};
  --primary-color: #{$color-primary};
  --primary-color-hover: #{$color-primary-hover};
  --primary-color-8: #{$color-primary-8};
  --primary-color-30: #{$color-primary-30};
  --primary-color-50: #{$color-primary-50};
}

html.dark {
  --text-color: #{$color-white};
  --text-color-70: #{$color-white-70};

  --bg-color: #{$color-dark};
  --gray-color: #{$color-black};
}
