- var aboutList = ["Frontend-разработчик", "Опыт 1,5+ года", "Постоянно обучаюсь и изучаю новое"]

section.about#about
  .about__container.container
    h2.about__title.title.title--h2 Обо мне
    .about__wrapper
      .about__block
        .about__photo-block
          picture
            img(src="img/about/about-photo@1x.jpg", srcset="img/about/about-photo@2x.jpg 2x" alt="Yury Shapovalov")
        .about__points
          img(src="img/about/points.svg", width="145", height="106", alt="points")
      .about__info
        h3 Привет, меня зовут Юрий&nbsp;Шаповалов
        ul
          each aboutItem in aboutList
            li=aboutItem
        a(href="#!").about__link.button.button--opacity
          span Скачать резюме
          +icon("icon-download", 24, 24)
      .about__illustration
        +icon("icon-about-bg", width="255", height="165")
