section.promo
  .promo__container.container
    .promo__img-block
      +icon("icon-promo-hello", 770, 390)
    p.promo__text.title.title--h3 Привет, я #[span Юрий]
    h1.promo__title.title.title--h1 Frontend Developer
    a(href="#last-works").promo__button.button.button--primary
      span Последние работы
      +icon("icon-arrow-down", 24, 24)

