section.promo
  .promo__container.container
    .promo__img-block
      +icon("icon-promo-hello", 770, 390)
      //- img(src="img/promo/promo-hello.svg", width="770" height="390", alt="hello")
    p.promo__text.title.title--h3 Привет, я #[span Юрий]
    h1.promo__title.title.title--h1 Frontend Developer
    button(type="button").promo__button.button.button--primary
      span Последние работы
      +icon("icon-arrow-down", 24, 24)

